* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h2 {
    font-size: 35px;
    font-family: Georgia;
    font-weight: lighter;
}

p {
    font-size: 20px;
    font-family: arial;
    padding: 10px;
}

body {
    text-align: center;
    background: #1C4541;
}

.titulo {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.agrup {
    background: #835896;
    width: 1000px;
    margin: 15px auto;
}

.cabeza {
    background: #9162a5;
    border: 1px solid #B575D1;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cabeza h1 {
    text-align: left;
}

.info {
    list-style: none;
    background: #3C2745;
    padding: 0px;
    margin: auto;
    font: bolder 15px Times New Roman;
}

.info li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.info li {
    display: inline-block;
    text-align: center;
}

.info li a:hover {
    background: #6b5874;
}

.secc {
    margin: 10px;
    width: 650px;
    float: left;
}

.imagen {
    width: 500px;

}

.par1 {
    text-align: justify;
}

.par2 {
    text-align: justify;
}

footer {
    padding: 5px;
    clear: both;
    font: lighter 10px;
    font-family: Verdana;
    font-size: 10px;
    text-align:left
}

.colum {
    width: 300px;
    float: left;
    margin-top: 20px;
}

article {
    padding: 30px;
    margin-bottom: 30px;
    border: 4px solid #B575D1;
    background: #54D1C7;
}

.imagen2 {
    width: 400px
}

.imagen3 {
    width: 300px;
}

.imagen4 {
    width: 200px;
    float: left;
}

.colum blockquote {
    margin-bottom: 30px;
    border: 1px solid #B575D1;
    padding: 30;
    background: #87aae2;
    text-align: justify;
}

.colum blockquote a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

ul,
ol {
    list-style: none;
}

.amigos {
    background: #3C2745;
}

.amigos li a {
    color:white;
}

.amigos li a:hover {
    background: #6b5874;
}

